<div *ngIf="ready">
    <div class="form-group" >
        <label>Login</label>
        <input type="text" class="form-control"  name="title" value="{{user.login}}" readonly/>
    </div>
    
    <div class="form-group" >
        <label>Imię</label>
        <input type="text" class="form-control" name="description" value="{{user.name}}" readonly />  
    </div>

    <div class="form-group" >
        <label>Nazwisko</label>
        <input type="text" class="form-control" name="description" value="{{user.surname}}" readonly />  
    </div>

    <div class="form-group" >
        <label>Miasto</label>
        <input type="text" class="form-control" name="description" value="{{user.city}}" readonly />  
    </div>

    <div class="form-group" >
        <label>Ulica</label>
        <input type="text" class="form-control" name="description" value="{{user.street}}" readonly />  
    </div>

    <div class="form-group" >
        <label>Numer ulicy</label>
        <input type="text" class="form-control" name="description" value="{{user.street_number}}" readonly />  
    </div>

    <div class="form-group" >
        <label>Mieszkanie</label>
        <input type="text" class="form-control" name="description" value="{{user.apartment}}" readonly />  
    </div>

    <div class="form-group" >
        <label>Czy jest administratorem?</label>
        <input type="text" class="form-control" name="description" value="{{user.admin}}" readonly />  
    </div>
  </div>




