<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" style="height:350px" src="../assets/images/1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="height:350px" src="../assets/images/2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100"style="height:350px" src="../assets/images/3.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Poprzedni</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Nastepny</span>
  </a>
</div>

<div class="jumbotron" style="margin-top:10px">
  <h1 class="display-4">Witaj użytkowniku!</h1>
  <p class="lead">Gotowy podjąć nowe wyzwanie?.</p>
  <hr class="my-4">
  <p>Na naszym portalu każdy znajdzie dla siebie odpowiednią ofertę, nie czekaj! Zacznij już dziś pracę swoich marzeń</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/jobs" role="button">Oferty Pracy</a>
  </p>
</div>

<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../assets/images/4.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Zawody przyszłości</h5>
        <p class="card-text">Sprawdź w co warto zainwestować swój czas!</p>
        <p class="card-text"><small class="text-muted">Do wydania artykułu: 1 dzień</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/images/5.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Czas na zmiany?</h5>
        <p class="card-text">Praca, znajdź swoje predyspozycje zawodowe!</p>
        <p class="card-text"><small class="text-muted">Do wydania artykułu: 3 dni</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../assets/images/6.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Nadgodziny? Czy to konieczne?...</h5>
        <p class="card-text">Odpowiedzi znajdziesz u nas .</p>
        <p class="card-text"><small class="text-muted">Do wydania artykułu: 5 dni</small></p>
      </div>
    </div>
  </div>

  <footer class="footer-distributed">
      
            <div class="footer-right">
      
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-github"></i></a>
      
            </div>
      
            <div class="footer-left">
      
              <p class="footer-links">
                <a href="/">Home</a>
                ·
                <a href="#">Footer</a>
                ·
                <a href="#">O nas</a>
                ·
                <a href="#">Kontakt</a>
              </p>
      
              <p>UG Jobs</p>
            </div>
      
          </footer>
      